//@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=VT323&display=swap');
@import url("https://use.typekit.net/uto8uge.css");


$body-color: #546263;
$body-color-dark: #cee7f9;
//$body-bg: #cee7f9;
//$body-bg-dark: #546263;
$primary: #b4e76a;
$success: #76a171;


$link-color: #198754FF; //'success' color
$font-family-base: 'lores-12';


@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";


